# Various files written by emacs
*~
\#*#
.#*

# Mac Finder puts these into directories
.DS_Store

# Vim swap files
*.swp

# pytest cache directory
.cache/

# Compiled Python code
*.pyc
__pycache__
*.egg-info
build/

# Python virtual enviroment
env/

# Pytest tempoaries
.pytest_cache/

# Jupyter temporaries
.ipynb_checkpoints/

# Development files
.env
.vscode/